<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>colors by nabil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="./libraries/bootstrap.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

        <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="app">

        <div style="height: 40px;" @click="toggle('container')" ></div>
        
        <div class="container">

            <div class="card">

                <div class="card-body">
                    <!-- INPUT -->
                    <input type="text" v-model="color.one" class="form-control">

                    <!-- UPDATE COLOR -->
                    <button class="btn btn-primary" @click="updateBackground()"><i class="fas fa-fill"></i></button>

                    <!-- RANDOM COLOR -->
                    <button class="btn btn-danger" @click="randomBackground()"><i class="fas fa-random"></i></button>

                    <!-- HISTORY -->
                    <button class="btn btn-dark" @click="toggle('color-history')"><i class="fas fa-history"></i></button>

                    <br>
                    
                    <small>{{app.name}} </small>
                    <small>{{app.version}}</small>
                </div>

            </div>



            <!-- COLOR HISTORY -->
            <div class="color-history">

                <!-- CLEAR HISTORY -->
                <a @click="clearHistory()" href="#">Clear History</a>

                <!-- LOOPING THROUGH -->
                <div class="card" v-for="(color, i) in color.history">
                    <div class="card-body">
                        <button @click="logindex(i)" class="btn btn-primary btn-sm">{{color}}</button>

                        <!-- DELETE BUTTON -->
                        <button @click="deleteEntry(i) " class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="./libraries/vue.js"></script>
    <script src="./libraries/jquery.js"></script>
    <script src="main.js"></script>
</body>

</html>