<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>colors by nabil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="./libraries/bootstrap.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

    <link rel="stylesheet" href="main.css">
</head>

<body>

    <div class="app">

        <div style="height: 40px;" @click="toggle('container')"></div>

        <div class="container main-body">

            <div class="card">

                <h3 class="card-header">{{app.name}} {{app.version}}</h3>

                <div class="card-body">

                    <p class="lead">You have gotten {{color.history.length}} out of 16,581,375 Different Possibilities!</p>

                    <p>Press the <span class="bold">red</span> button to <span class="bold">generate random colors</span>,
                        press the <span class="bold">gray</span> button to <span class="bold">view the generation
                            history</span>. Press on the <span class="bold">top of this page</span> to <span class="bold">hide
                            everything</span>.</p>


                    <!-- INPUT -->
                    <input type="text" v-model="color.rgb" class="form-control">

                    <!-- REMOVED TILL FURTHER NOTICE!! -->

                    <!-- UPDATE COLOR -->
                    <!-- <button class="btn btn-primary" @click="updateBackground()"><i class="fas fa-fill"></i></button> -->

                    <!-- RANDOM COLOR -->
                    <button class="btn btn-danger btn-block" @click="randomBackground()"><i class="fas fa-random"></i></button>

                    <!-- HISTORY -->
                    <button class="btn btn-dark btn-block" @click="toggle('color-history')"><i class="fas fa-history"></i></button>

                    <!-- HISTORY -->
                    <button class="btn btn-warning btn-block" @click="discoMode()">Disco Mode! (Refresh to stop)</button>


                </div>

            </div>



            <!-- COLOR HISTORY -->
            <div class="color-history">

                <!-- CLEAR HISTORY -->
                <a @click="clearHistory()" href="#" class="btn btn-primary btn-block">Clear History</a>

                <!-- LOOPING THROUGH -->
                <div v-for="(color, i) in color.history">
                    <button @click="logindex(i)" class="changeColor"></button>
                </div>
            </div>

        </div>
    </div>

    <script src="./libraries/vue.js"></script>
    <script src="./libraries/jquery.js"></script>
    <script src="main.js"></script>
</body>

</html>