.main-body {
    /* font-family: 'Karla', sans-serif; */
    width: 50%;
    margin: auto;
}

.form-control {
    margin-bottom: 10px;
    padding: 25px 15px;
}

.changeColor{
    width: 70px;
    height: 70px;
    border: 0;
    float: left;
}

.color-history{
    margin: 20px 0;
}

.color-history .btn{
    margin-bottom: 20px;
}